<nav class="navbar-second flex">
    <div class="left">
        <div class="logo">
            <img src="https://www.ashokitech.com/uploads/settings/general_settings_1639053735_1412244780.jpg"
              class="logo-height">
              <i class="bi bi-list"></i>
              <i class="bi bi-search"></i>
              <input type="text" id="search" placeholder="Search Dashboard">
          </div>
          
    </div>
    <div class="right">
        <i class="bi bi-person-circle"></i>
    </div>
    
</nav>
