<!-- <div class="container">
    <a routerLink="/createcw" class="btn btn-primary">Create Case Worker</a> &nbsp;
    <a routerLink="/dashboard/viewcw" class="btn btn-primary">View Case Workers</a> &nbsp;
    <a routerLink="/authenticate" class="btn btn-primary">Logout</a> &nbsp;
</div>
<div class="sidebar">
    <ul id="sidebarlist">
        <li value="1" (click)="setActiveClass('1')"><a href="#">Dashboard</a></li>
        <li value="2" [class.active]="selectedIndex == '2'"><a href="#">Application Registration</a><i class="bi bi-chevron-right"></i></li>
        <li value="3" [class.active]="selectedIndex == '3'"><a href="#">Data Collection</a><i class="bi bi-chevron-right"></i></li>
        <li value="4" [class.active]="selectedIndex == '4'"><a href="#">Eligibility Determination</a><i class="bi bi-chevron-right"></i></li>
        <li value="5" [class.active]="selectedIndex == '5'"><a href="#">Correspondence</a><i class="bi bi-chevron-right"></i></li>
        <li value="6" [class.active]="selectedIndex == '6'"><a href="#">Correspondence</a><i class="bi bi-chevron-right"></i></li>
        <li value="7" [class.active]="selectedIndex == '7'"><a href="#">Benefit Issuence</a><i class="bi bi-chevron-right"></i></li>
        <li value="8" [class.active]="selectedIndex == '8'"><a href="#">Reports</a><i class="bi bi-chevron-right"></i></li>
        <li value="9" [class.active]="selectedIndex == '9'"><a href="#">Admin</a><i class="bi bi-chevron-right"></i></li>
        <li value="10" [class.active]="selectedIndex == '10'"><a href="#">View Accounts</a><i class="bi bi-chevron-right"></i></li>
        <li value="11" [class.active]="selectedIndex == '11'"><a href="#">Create Plan</a><i class="bi bi-chevron-right"></i></li>
        <li><a  data-toggle="collapse" data-target="#viewPlans">View Plans</a><i class="bi bi-chevron-right"></i>
            <div class="collapse" id="viewPlans">Hello</div>
        </li>
    </ul>
    
    
</div> -->

<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a routerLink="/dashboard">
                    <i class="bi bi-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
           
            <li>
                <a class="has-arrow" data-bs-toggle="collapse" href="#application" aria-expanded="false">
                    <i class="bi bi-tablet menu-icon"></i><span class="nav-text">Application Registration</span>
                </a>
                <ul aria-expanded="false" id="application" class="collapse" data-bs-parent="#menu">
                    <li><a routerLink="/createcw">Create Application</a></li>
                    <li><a routerLink="/dashboard/viewcw">View Applications</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" data-bs-toggle="collapse" href="#dataCollection" aria-expanded="false" aria-controls="dataCollection" >
                    <i class="bi bi-graph-up menu-icon"></i> <span class="nav-text">Data Collection</span>
                </a>
                <ul  class="collapse" aria-expanded="true" data-bs-parent="#menu" id="dataCollection" >
            
                    <li><a href="plan_selection.html">Plan Selection</a></li>
                    <li><a href="income_detail.html">Income Details</a></li>
                    <li><a href="edu_detail.html">Education Details</a></li>
                    <li><a href="kids_detail.html">Kids Details</a></li>
                    <li><a href="Summary_screen.html">Summary Screen</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" data-bs-toggle="collapse" href="#eligibility" aria-expanded="false" aria-controls="eligibility">
                    <i class="bi bi-grid menu-icon"></i><span class="nav-text">Eligibility Determination</span>
                </a>
                <ul aria-bs-expanded="false" data-bs-parent="#menu" class="collapse" id="eligibility">
                    <li><a href="eligibility_determination.html">Determine Eligibility</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" data-bs-toggle="collapse" href="#correspondence" aria-expanded="false" aria-controls="correspondence">
                    <i class="bi bi-list menu-icon"></i><span class="nav-text">Correspondence</span>
                </a>
                <ul aria-expanded="false" data-bs-parent="#menu" id="correspondence" class="collapse">
                    <li><a href="corrspondence.html" aria-expanded="false">Correspondence</a></li>
                    <li><a href="pending_notices.html" aria-expanded="false">Pending Notices</a></li>
                    <li><a href="history_notice.html" aria-expanded="false">History Notices</a></li>
                </ul>
            </li>
            <li>
                <a href="benefit_iss.html" aria-expanded="false">
                    <i class="bi bi-person-badge-fill menu-icon"></i><span class="nav-text">Benefit Issuance</span>
                </a>
            </li>
           <!--  <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Reports</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">plan name</a></li>
                    <li><a href="#">View Paln Data</a></li>
                </ul>
            </li> -->
            <li>
                <a href="#reports">
                    <i class="bi bi-journal-text menu-icon"></i><span class="nav-text">Reports</span>
                </a>
            </li>
            <li>
                <a class="has-arrow"  data-bs-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
                    <i class="bi bi-journal-text menu-icon"></i><span class="nav-text">Admin</span>
                </a>
                <ul id="admin" aria-expanded="false" class="collapse" data-bs-parent="#menu">
                    <li><a href="create_acc.html">Create Account</a></li>
                    <li><a href="view_acc.html">View Accounts</a></li>
                    <li><a href="create_plan.html">Create Plan</a></li>
                    <li><a href="view_plan.html">View Plans</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>

