
<div >
  <app-app-header></app-app-header>
    <section>
      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-2" style="background-color: #ffff; padding:0;height: 100%">
            <app-sidebar></app-sidebar>
          </div>
          <div class="col-9 p-1">
            <router-outlet></router-outlet>
            <h6>Dashboard works</h6>
          </div>
        </div>
      </div>
    </section>
    </div>