<div class="container">
    <h3>Registr Here</h3>

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Phno:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" /></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="button" value="Register" class="btn btn-primary" (click)="register()"/></td>
        </tr>

    </table>
    <a routerLink="login">Login Here</a>
</div>